.bg{
    height: 100vh;
    background-image: linear-gradient(to bottom, #caa9bc, #9da1bc);
}
.bg-another{
    height: 100vh;
    background-color: black;
    color: white;
}
.bg-another2{
    height: 100vh;
    background-image: linear-gradient(to bottom, #caa9bc, #9da1bc);
    font-size: 15px;
}
.project{
    border: 2px solid white;
    border-radius: 10px;
}
.image1{
	border-radius: 10px;
}
.image2{
    border-radius: 10px 10px 0px 0px;
}
.plus-icon{
    font-size: 70px;
}
.vl {
   width: 4px;
   height: 550px;
   background-color: black;
   opacity: 70%;
}
.icons{
    font-size: 25px;
	margin-right: 20px;
	}